html {
background-color: #0066cc;
}

body {
background-color: white;
}

h1 {
font-family: Helvetica;
}

.indexBody {
background-color: #0066cc;
}

.indexH2 {
margin-top: 250px;
font-size: 150px;
}

.navbar-fixed-top {
margin-left: 750px;
background-color: #0066cc;
text-decoration: none;
}

.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
    }

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.job-listing {
    border: 1px solid #e4e4e4;
    width: 80%;
    background-color: #e4e4e4;
}

.form-group {

     text-align: center;
     margin-left: 400px;
     margin-right: -165px;
    }

.addJobButton {

   margin-left: 540px;

}
